/* **********************
New Orders Container Styling
********************** */
.new--orders--main--container {
    background-image: linear-gradient(
        to right,
        #a34be7,
        #a745e8,
        #ac3ee8,
        #b036e9,
        #b52ce9,
        #b32dea,
        #b22eec,
        #b02fed,
        #a73af0,
        #9d42f2,
        #944af4,
        #8a50f6
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 92vh;
    padding: 2rem 0;
}

.new__orders__container {
    background-color: var(--color-white);
    width: 992px;
    max-width: 95%;
    margin: 0 auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1),
        10px 0 20px rgba(0, 0, 0, 0.06), 10px 20px 20px rgba(0, 0, 0, 0.1),
        15px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;

    h1 {
        line-height: 1.6rem;
        padding: 0.75rem;
        color: var(--h1-color);
        font-size: 2rem;
        border-bottom: 1px solid currentColor;
        text-align: center;
        font-weight: 500;
        font-family: var(--secondary-font);
    }
}

.new__orders__form {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 0.75rem;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.customer__name__field {
    margin: 0.25rem 0 0.5rem;

    label {
        font-size: 1rem;
        font-weight: 600;
        color: var(--input-label-color);
        margin-right: 0.5rem;
    }
    input {
        border: none;
        font-family: inherit;
        font-size: 1.1rem;
        padding: 0.45rem 0.5rem;
        border-bottom: 1px solid var(--input-field-border);
        outline: none;

        &:focus {
            border-color: var(--color-black);
        }
    }
}

/* ************************
New Order related container Styling
************************ */
.new__orders__fields__container {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 0.75rem;
    grid-template-columns: 1fr;
}

.new__order__fields {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1.5fr 1.2fr 1fr 1fr minmax(70px, 90px);
    grid-gap: 14px;

    label {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        span {
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1.2rem;
            color: var(--input-label-color);
        }
        input,
        select {
            font-family: inherit;
            font-size: 0.95rem;
            width: 100%;
            padding: 0.45rem 0.5rem;
            border: 1px solid var(--input-field-border);
            outline: none;
            border-radius: 3px;

            &:focus {
                outline: 1px solid var(--color-black);
            }
        }
        select {
            background-color: transparent;
        }
    }

    button {
        align-self: flex-end;
        padding: 0.5rem;
        background-color: var(--del-btn-color);
        color: var(--color-white);
        text-transform: capitalize;
    }
}

/* ********************
add orders button styling
********************* */
.orders__add__btn {
    justify-self: flex-end;
    padding: 0.7rem 1rem;
    background-color: hsl(130, 92%, 40%);
    text-transform: capitalize;

    i {
        margin-right: 0.25rem;
    }
}

/* **********************
new order button styling
********************** */
.new__order__btn {
    align-self: flex-start;
    margin-left: 1rem;
    padding: 0.75rem 1.5rem;
}

/* **********************
Orders Table Styling
*********************** */
.orders__table__wrapper {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    thead {
        background-color: var(--common-color);
        color: var(--color-white);

        th {
            font-weight: 500;
            padding: 0.5rem 0.3rem;
            font-family: var(--tertiary-font);
            letter-spacing: 0.5px;
            font-size: 0.9rem;
        }
    }

    tbody tr:nth-child(even) {
        background-color: #eee;
    }

    tbody td {
        font-family: var(--secondary-font);
        text-align: center;
        padding: 0.5rem 0.4rem;
        font-size: 0.9rem;
    }
}

.order__remove__btn {
    padding: 0.5rem;
    background-color: var(--del-btn-color);
    color: var(--color-white);
    text-transform: capitalize;
}
