{% extends 'layout.html' %}
{% set active_page='home' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block body %}

{% if current_user.is_authenticated %}
    <main class="home--logged--in--main">

        <div class="grocery__management__container">
            <h1>Grocery Management System</h1>

            <div class="grocery__links__container">
                <a href="{{url_for('products')}}" class="manage__products__link">Manage Products</a>
                <a href="#" class="new__order__link">New Order</a>
            </div>

            <!-------------- Table to show the items ordered by customers --------------->
            <div class="order__table__container">
                <table class="order__table">
                    <thead>
                        <tr>
                            <th>SL No.</th>
                            <th>Customer Name</th>
                            <th>Order No.</th>
                            <th>Order Date</th>
                            <th>Total Cost (Rs)</th>
                        </tr>
                        
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Rahul Kumar</td>
                            <td>2</td>
                            <td>14th Sep 2021</td>
                            <td>34432</td>
                        </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="5">Total - 34432/-</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

    </main>
{% else %}
    <main class="home--logged--out--main">

        <div class="home__content__container">
            <h1>Grocery Manager</h1>
            <p>Make your grocery business painless</p>
            <a href="{{url_for('login')}}" class="get__started__link">
                <span>Start now</span>
                <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>

        <div class="home__svg__container">
            <img src="{{url_for('static', filename='site-images/home-svg.svg')}}" alt="Homepage SVG">
        </div>

    </main>
{% endif %}
    
{% endblock body %}

{% block script %}
{% endblock %}