<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rahul kumar">
    <meta name="contact" content="rahulkumar109422@gmail.com">
    <meta name="theme-color" media="(prefers-color-scheme : light)" content="hsl(250,100%,80%)">
    <meta name="theme-color" media="(prefers-color-scheme : dark)" content="hsl(260,100%,93%)">

    <meta name="robots" content="follow,index">

    <!-------------------- Application current page title -------------------->
    <title>{{title}} | Grocery Manager</title>

    <!------------------------ Favicon of application ------------------------->
    <link rel="shortcut icon" href="{{url_for('static',filename='site-images/icons/grocery-64.png')}}" type="image/png">

    <!--------------------------- Google fonts -------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">

    <!---------------------- fontawesome icons stylesheet --------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--------------------------- Custom stylesheets -------------------------->
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">

    <!----------------------- manifest.json file ------------------------->
    <link rel="manifest" href="{{url_for('static',filename='manifest.json')}}">

    <!--------------- Jinja block for custom css in child templates ------------------>
    {% block stylesheet %}
    {% endblock %}

</head>
<body>
    
    <!------------------ Application header -------------------->
    <header class="application--header">

        <!------------------- Navigation bar ---------------------->
        <nav class="navigation__bar">
            <a href="{{url_for('main.home')}}" class="navigation__link {{'navigation__link__active' if active_page=='home' else ''}}" title="Home">Home</a>

            {% if current_user.is_authenticated %}
            <a href="{{url_for('main.settings')}}" class="navigation__link {{'navigation__link__active' if active_page=='settings' else ''}}" title="Settings">Settings</a>
            {% else %}
            <a href="{{url_for('userbp.login')}}" class="navigation__link {{'navigation__link__active' if active_page=='login' else ''}}" title="Login">Login</a>
            <a href="{{url_for('userbp.register')}}" class="navigation__link {{'navigation__link__active' if active_page=='register' else ''}}" title="Register">Register</a>
            {% endif %}
            
            <a href="{{url_for('main.contactUs')}}" class="navigation__link {{'navigation__link__active' if active_page=='contactUs' else ''}}" title="Contact Us">Contact Us</a>

            {% if current_user.is_authenticated %}
            <a href="{{url_for('userbp.logout')}}" class="navigation__link" title="Logout">Logout</a>
            {% endif %}
        </nav>

    </header>


    <!----------- Container to flash messages when available ----------->
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="msg--wrapper">
        {% for cat,msg in messages %}
            <div class="msg__container {{cat}}__msg__container">
                <span>{{msg}}</span>
                <button class="msg__hide__btn">
                    &Cross;
                </button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <!------------------- Jinja block for body ------------------>
    {% block body %}
    {% endblock %}


    <!------------------  Jinja block for scripts ---------------->
    {% block script %}
    {% endblock %}


    <script>
        
        //message hiding related functionality
        const msgContainers = document.querySelectorAll('.msg__container');
        const msgHideBtn = document.querySelectorAll('.msg__hide__btn');


        msgHideBtn.forEach((btn,index) => {
            btn?.addEventListener('click', () => {
                msgContainers[index].style.display = 'none';
            })
        });

    </script>
</body>
</html>