{% extends 'layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='css/passwordReset.css')}}">
{% endblock %}
{% block body %}
<main class="reset--password--section">
    <form method="post" autocomplete="off">
        {{form.hidden_tag()}}

        <legend>Reset Password Form</legend>

        <div class="form__group">
            {{form.password.label}}
            {% if form.password.errors %}
            {{form.password(class="error__field")}}
            {% for error in form.password.errors %}
            <span class="field__error__msg">{{error}}</span>
            {% endfor %}
            {% else %} 
            {{form.password(placeholder='enter a new password')}}
            {% endif %}
        </div>

        <div class="form__group">
            {{form.reenter_password.label}}
            {% if form.reenter_password.errors %}
            {{form.reenter_password(class="error__field")}}
            {% for error in form.reenter_password.errors %}
            <span class="field__error__msg">{{error}}</span>
            {% endfor %}
            {% else %} 
            {{form.reenter_password(placeholder='reenter the same password')}}
            {% endif %}
        </div>

        <div class="form__submit__group">{{form.submit(class="btn")}}</div>
    </form>
</main>
{% endblock %}