{% extends 'layout.html' %} {% block stylesheet %}
<link
    rel="stylesheet"
    href="{{url_for('static',filename='css/passwordResetRequest.css')}}"
/>
{% endblock %} {% block body %}

<main class="reset--password--request--section">
    <form method="post" autocomplete="off">
        {{form.hidden_tag()}}

        <legend>Request Password Form</legend>

        <div class="form__group">
            {{form.email.label}}
            {% if form.email.errors %}
            {{form.email(class="error__field")}}
            {% for error in form.email.errors %}
            <span class="field__error__msg">{{error}}</span>
            {% endfor %}
            {% else %} 
            {{form.email(placeholder='enter your email address')}}
            {% endif %}
        </div>

        <div class="form__submit__group">{{form.submit(class="btn")}}</div>
    </form>
</main>
{% endblock %}
